.specification {
  min-height: 86rem;
  background: transparent url("../../images/Mask\ Group\ 7.png") no-repeat;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.specification__inner {
  padding-top: 26rem;
}

.specification__paragraph {
  max-width: 57.8rem;
  margin-top: 3rem;
}

.specification__controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $text;
}

.specification__control {
  border: none;
  background-color: transparent;
  padding: 2rem;

  color: $black;
  font-size: 2.4rem;
  font-weight: medium;

  position: relative;

  &::after {
    transition: all 0.3s;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(3px);

    display: block;
    content: "";
    width: 100%;
    border-bottom: 5px solid transparent;
  }

  &:hover {
    cursor: pointer;
    &::after {
      border-color: $text;
    }
  }

  &--active {
    &::after {
      border-color: $orange;
    }
  }
}
